doctype html
head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" name="viewport")
    title Checkout - Little Bobby Tables Music Shop
    link(rel="stylesheet" type="text/css" href="/css/view-cart.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet")
    script(src="/js/checkout.js")
header
    #toolbar
        #search-wrapper
            input#search(type="text" placeholder="Keyword(s)" onkeydown="searchEnter(this)")
            button(onclick="searchButton()") Search
        #controls
            if login
                button(onclick="location.href='/logout/'") Logout
            else
                button(onclick="location.href='/login/'") Login
                button(onclick="location.href='/register/'") Register

            button(onclick="location.href='/view-cart/'") Cart
                #cart-count
main
    #musics
    h2 Little Bobby Tables Music Shop
    if login
        form(id="mainForm" action="/invoice/" method="get")
            h2 Delivery Address
            p
                label Full name:
                input#fullName(name="fullName" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Address Line 1:
                input#address1(name="address1" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Address Line 2:
                input#address2(name="address2" type="text" value="")
            p
                label City:
                input#city(name="city" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Country:
                input#country(name="country" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Postcode/Zip Code:
                input#postcode(name="postcode" placeholder="Required" type="text" value="" required oninvalid="prompt()")
    else
        h1 Create Account
        label Have an account?
        button(onclick="location.href='/login/'") Login
        form(id="mainForm" action="/invoice/" method="get")
            p
                label Desired Username:
                input#username(name="username" placeholder="Desired Username" type="text" value="" required oninvalid="prompt()" oninput="checkUsername(this)")
                span#warning
            p
                label Desired Password:
                input#password(name="password" placeholder="Desired Password" type="password" value="" required oninvalid="prompt()")
            h2 Delivery Address
            p
                label Full name:
                input#fullName(name="fullName" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Address Line 1:
                input#address1(name="address1" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Address Line 2:
                input#address2(name="address2" type="text" value="")
            p
                label City:
                input#city(name="city" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Country:
                input#country(name="country" placeholder="Required" type="text" value="" required oninvalid="prompt()")
            p
                label Postcode/Zip Code:
                input#postcode(name="postcode" placeholder="Required" type="text" value="" required oninvalid="prompt()")
    h3 My Shopping Cart
    #cart
    h3#total-price Total Price: $0
    p
        button(onclick="location.href='/view-cart/'") Change
        button(type="submit" form="mainForm") Confirm
